<!doctype html>
<html>
  <head>
    <title>Liste d'utilisateurs</title>
  </head>
  <body>
    <!-- une conditionelle -->
    <h1>Liste d'utilisateurs</h1><!-- une substitution -->
    <ul>
      {% for name, todos in data %}
      {% if name=="" %}
      <li>Anonyme
      {% else %}
      <li>{{ name }}
      {% endif %}<ul>
      <!-- une boucle -->
          {% for todo in todos %}
          <li>{{ todo }}</li>
          {% endfor %}

        </ul></li>
      {% endfor %}
    </ul>
  </body>
</html>
